body{
    background-color: cornflowerblue;
    font-family: 'Roboto', sans=serif;
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipPXTQd9vgdBXPznoY1c8i60HvcnJAfe2PryMwL3=s1360-w1360-h1020");
}
.signup-box{
    width: 400px;
    height: 250px;
    margin: auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    box-shadow: 0 0 40px rgba(0, 0, 0 ,0.5);
}

h1{
    text-align: center;
    padding-top:15px;
}
h2{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    width: 100%;
    padding: 2px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:goldenrod;
    color: white;
    font-size: 18px;
}
.login-box{
    width: 400px;
    height: 250px;
    margin: auto;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter:blur(10px);
    box-shadow: 0 0 40px rgba(0, 0, 0 ,0.5);
}

h1{
    text-align: center;
    padding-top:15px;
}
h2{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    width: 100%;
    padding: 2px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color:goldenrod;
    color: white;
    font-size: 18px;
}
.Register-box{
        width: 400px;
        height: 50px;
        margin: auto;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.5);
        border-radius: 20px;
        backdrop-filter:blur(10px);
        box-shadow: 0 0 40px rgba(0, 0, 0 ,0.5);
        box-align: left;
}
.Register-box li{
    color:white;
    font-size:23px;
    text-align:center;
    font-weight: bold;
}
a:link{
    color:white;
}